body {
    background-color: white;
    margin: 0em;
}

#container {
    width: 1024px;
    height: 774px;
    margin: auto;
}

#welcome {
    background-color: rgb(100, 202, 192);
    height: 387px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#titles-section {
    background-color: rgb(27, 27, 27);
    height: 387px;
    margin: 0px;
    padding: 0px 175px 0px 175px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#title1 {
    color: whitesmoke;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    
}

#title2 {
    color: whitesmoke;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    
}

#title3 {
    color: whitesmoke;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    
}

#blue-box {
    width: 130px;
    height: 0px;
    border: rgb(86, 167, 216) solid 12px;
    justify-content: center;
    margin: 0;
}

#red-box {
    width: 130px;
    height: 0px;
    border: rgb(228, 111, 65) solid 12px;
    justify-content: center;
    margin: 0;
}

#teal-box {
    width: 130px;
    height: 0px;
    border: rgb(100, 202, 192) solid 12px;
    justify-content: center;
    margin: 0;
}

#welcome p {
    color: whitesmoke;
    font-size: 36pt;
    padding: 0px 100px 0px 100px;
}

@media (max-width: 1024px) {
    body {
        background-color: white;
    }
    
    #container {
        width: 375px;
        /* min-width: 375px; */
        margin:auto
    }   

    #welcome {
        background-color: rgb(86, 167, 216);
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    #titles-section {
        display: flex;
        width: auto;
        height: auto;
        flex-direction: column;
        background-color: rgb(247, 245, 246);
    }

    #title1 {
        color: rgb(27, 27, 27);
        justify-content: center;
        text-align: center;
        box-sizing: border-box;
        padding: 50px 150px 25px 150px;
    }

    #title2 {
        color: rgb(27, 27, 27);
        justify-content: center;
        text-align: center;
        box-sizing: border-box;
        padding: 25px 150px 25px 150px;
    }

    #title3 {
        color: rgb(27, 27, 27);
        justify-content: center;
        text-align: center;
        box-sizing: border-box;
        padding: 25px 150px 25px 150px;
    }

    #blue-box {
        width: 130px;
        height: 0px;
        border: rgb(86, 167, 216) solid 12px;
        justify-content: center;
        margin: 0;
    }

    #red-box {
        width: 130px;
        height: 0px;
        border: rgb(228, 111, 65) solid 12px;
        justify-content: center;
        margin: 0;
    }

    #teal-box {
        width: 130px;
        height: 0px;
        border: rgb(100, 202, 192) solid 12px;
        justify-content: center;
        margin: 0;
    }

    #welcome p {
        color: whitesmoke;
        font-size: 36pt;
        padding: 0px 100px 0px 100px;
    }

    h2 {
        margin: .3em;
    }
}