body {
    width: auto;
    height: auto;  
    font-family: cursive;
}

header {
    background-image: url("cropped_snowflake_header.jpg");
    width: auto;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header >h1 {
    font-size: 36pt;
    color: rgb(24, 36, 56);
}

#info-container {
    display: grid;
    grid-template-columns: 30% 70%;
    background-image: url("blue_abstract_background.jpg");
    background-size: cover;
}

hr {
    border-top: 1px solid #8c8b8b;
    border-bottom: 1px solid #ffffff;
}

#left-info {
    grid-column: 1/2;
    /* background-color: burlywood; */
    padding-right: 20px;
    padding-left: 20px;
}

#right-info {
    grid-column: 2/3;
    /* background-color: coral; */
    padding-left: 50px;
}

#work-exp {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

#education {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

#languages {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#references {
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-items: center; */
}

#ref-items {
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: center;
}

#right-info p {
    width: 60%;
    /* margin:auto; */
    align-self: center;
    /* text-align: center; */
}

#left-info p {
    width: 100%;
    align-self: center;
}

/* #profile-pic {
    grid-column: 1/2;
} */

img {
    width:99%;
    align-self: center;
}
#references p {
    padding-left: 5%;
    padding-right: 5%;
}
