 body {
     background-color: #6b7a8f;
     display: flex;
     justify-content: center;
}

#container {
    width: 850px;
    height: 794px;
}

#header {
    width: 100%;
    height: 450px;
    border: 1 px darkslateblue solid;
    background-image: url("spacepic.jpg");
    background-size: cover;
    border: 1px darkred solid;
    border-style: outset;
    }

#span-one {
    width: 100%;
    height: 450px;
    padding-top: 8%;
    display: flex;
    justify-content: center;
    color: lightsteelblue;
    font-size: 45pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#content {
    width: 100%;
    height: 324px;
    background-color: lightgray;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px darkred solid;
    border-style: outset;
}

.social-media {
    margin-left: 20px;
    /* margin-right: 10px; */
    width: 270px;
    height: 100%;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
}

.office-info {
    margin-left: 20px;
    /* margin-right: 10px; */
    width: 270px;
    height: 100%;
    background-color: lightgrey;
}

.contact-us {
    margin-left: 20px;
    /* margin-right: 10px; */
    width: 270px;
    height: 100%;
    background-color: lightgrey;
}

/* #input [type=text] {
    width: 100%;
    box-sizing: border-box;
    padding: 12px, 20px;
    margin: 40px, o;
    box-sizing: border-box;
} */

/* .name-entry {
    display: flex;
    flex-direction: column;
    width: 90%;
} */

/* form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 20px;
} */

#input-one {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 20px;
    
}

#input-two {
    display: flex;
    flex-direction: column;
    width: 90%;
    box-sizing: border-box;
    height: 60px;
}

/* #message [type=text] {
    height: 60px;
} */